*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    z-index: -2;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: initial;
}

a:hover {
    text-decoration: none;
    color: initial;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 7vh;
    padding: 0 10px;
    z-index: 2;
    width: 100%;
}

.logo i {
    font-size: 1.5em;
}

.bgr-white {
    background: #fff;
}

.hamburger-wrap {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 5px;
}

.hamburger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger, .hamburger::before, .hamburger::after {
    content: '';
    width: 25px;
    height: 2px;
    background: rgba($color: #000000, $alpha: 0.7);
    transition: transform .2s ease,
                top .3s ease .2s,
                background .3s ease .2s;
}



.hamburger::after {
    position: absolute;
    top: 7px;
}

.hamburger::before {
    position: absolute;
    top: -7px;
}

.hamburger-wrap.toggle {
    .hamburger {
        background: rgba($color: #000000, $alpha: 0.0);
        transition: rotate .2s ease;
    }

    .hamburger::before {
        top: 0;
        transform: rotate(45deg);
    }

    .hamburger::after {
        top: 0;
        transform: rotate(135deg);
    }

    .hamburger,
    .hamburger::after,
    .hamburger::before {
        transition: background .2s ease,
                    top .2s ease,
                    transform .3s ease .2s;
    
    }
}


.main-nav {
    transition: all .5s ease;
    position: absolute;
    top: 0;
    padding-top: 7vh;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    left: 0;
    background: #fff;
    transform-origin: top center;
    z-index: -1;
    transform: scaleY(0);

    li {
        height: calc(100% / 6);

        a {
            color: rgba($color: #000000, $alpha: 0.3);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            text-align: center;
            text-transform: uppercase;
            transition: color .3s ease;
        }

        a:hover, a:active {
            text-decoration: none;
            color: rgba($color: #000000, $alpha: 0.3);
        }
    }

}

.main-nav:hover a, .main-nav:active a {
    color: rgba($color: #000000, $alpha: 0.1);
}

.main-nav.toggle {
    transform: scaleY(1);
}

.full-height {
    height: 100vh;
    width: 100%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-banner {
    background-image: url('../resources/adventure-blur-close-up-346885.jpg');
    margin-top: -7vh;
}

.second-banner {
    background-image: url('../resources/adventure-casual-cheerful-541518.jpg');
}

.main-gallery-banner {
    background-image: url('../resources/activity-adventure-blur-297642.jpg');
    background-blend-mode: overlay;
    background-color: rgba($color: #000000, $alpha: 0.3);

    .show-more-gallery {
        color: rgba(255, 255, 255, .5);
        border: 1px solid rgba(255, 255, 255, .4);
        padding: 10px 20px;
        transition: all .3s ease-in-out;
    }

    .show-more-gallery:hover {
       color: #fff;
       border: 1px solid #fff;
       text-decoration: none; 
    }
}

.card-title {
    text-transform: uppercase;
    font-weight: 200;
}

.section-heading {
    font-weight: 400;
    position: relative;
    text-align: left;
}

.section-heading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background: #000;
}

.section-heading-gallery {
    color: #fff;
}

.section-heading-gallery::before {
    background: #fff;
}

.card-text {
    color: rgba($color: #000000, $alpha: 0.5);
}

.custom-btn {
    width: 150px;
    margin: 0 auto;
    display: block;
    font-size: .8em;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(212, 181, 123, 0.7);
    padding: 10px 10px;
    text-align: center;
    transition: all .3s ease-in-out;
}

.custom-btn:hover, .custom-btn:active {
    text-decoration: none;
    color: sandybrown;
}

.card {
    border-radius: 0;
    border: none;
    padding: 0;
}