*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
}

.con-mg {
    padding: 15em 5em;

}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav {
    list-style: none;
}

.nav:hover a {
    color: rgba(0, 0, 0, 0.2);
}

.nav li {
    display: inline-block;
    padding: 0 10px;
}

.nav li a {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.582);
    text-decoration: none;
    transition: color .2s ease;

}

.nav li a:hover {
    color: rgba(0, 0, 0, 0.582);
}

.banner-con {
    position: relative;
    background-image: url("../resources/adventure-blur-close-up-346885.jpg");

    /* Set a specific height */
    height: 100vh;
  
    z-index: -1;
}

.banner-con::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content: '';
}

.parallax {
     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.quote-con {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    font-family: 'Allura', cursive;
    font-size: 2rem;
    text-align: center;
}

.quote-author {
    text-align: right;
    width: 30%;
}

.con-headline {
    padding: 0 0 0 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
}

.site-banner {
    background-image: url('../resources/adventure-casual-cheerful-541518.jpg');
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.stories-con {
    padding: 5em;
}

.story-card {
    text-align: center;
    box-shadow: 0px 0px 13px -11px rgba(0,0,0,0.5);
}

.story-img {
    background-image: url('../resources/cosmic-timetraveler-ik2BN5dI6tE-unsplash.jpg');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.story-description {
    padding: 20px;
    position: relative;
    height: 200px;
}

.story-description h2 {
    font-family: 'Allura', cursive;
    font-weight: 200;
    font-size: 2em;
    padding: 20px;
}

.story-description p {
    color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: left;
    font-size: 0.7em;
}

.story-button {
    
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.story-button:hover {
    color: rgba(0,0,0,0.3);;
    border: 1px solid rgba(0,0,0,0.1);
}

.btn {
    width: 150px;
    display: block;
    font-size: .8em;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px 10px;
    text-align: center;
    transition: all .3s ease-in-out;
}

.show-more-story {
    margin: 50px auto;
    color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.1);
    width: 10em;
}

.show-more-story:hover {
    color: rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.2);
}

.gallery-con {
    background-image: url('../resources/activity-adventure-blur-297642.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
    padding: 50px 100px;
    display: flex;
    align-items: center;
}

.gallery-con::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}

.show-more-gallery {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .4);
    z-index: 3;
}

.show-more-gallery:hover {
    color: #fff;
    border: 1px solid #fff;
}

.gallery {
    width: 100%;
    height: 80%;
    align-content: center;
    z-index: 3;
}

.gallery-photo-con {
    background-image: url('../resources/rolands-varsbergs-miKmVyq3qhE-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25em;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
}

.gallery-photo-con:hover .overlay {
    opacity: 1;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, .5);
    transition: opacity .5s ease;
    opacity: 0;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 1.5em;
    left: 2em;
    height: 0;
    width: 1px;
    background: #fff;
    transition: height .5s ease;
    transition-delay: .2s;
}

.overlay::after {
    content: '';
    position: absolute;
    top: 2em;
    left: 1.5em;
    width: 0%;
    height: 1.5px;
    background: #fff;
    transition: width .5s ease;
    transition-delay: .2s;

}

.gallery-photo-con:hover .overlay::before {
    height: 70%;
}

.gallery-photo-con:hover .overlay::after {
    width: 70%;
}

.gallery-headline {
    color: #fff;
    padding: 0 0 0 10px;
    z-index: 3;
}

.con-headline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background: #000;
}

.gallery-headline::before {
    
    background: #fff;
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: rgba(204, 204, 204, 0.356);
    font-size: 1rem;
}