*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  z-index: -2;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}

a:hover {
  text-decoration: none;
  color: initial;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 7vh;
  padding: 0 10px;
  z-index: 2;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.logo i {
  font-size: 1.5em;
}

.bgr-white {
  background: #fff;
}

.hamburger-wrap {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 5px;
}

.hamburger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  width: 25px;
  height: 2px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: top .3s ease .2s, background .3s ease .2s, -webkit-transform .2s ease;
  transition: top .3s ease .2s, background .3s ease .2s, -webkit-transform .2s ease;
  transition: transform .2s ease, top .3s ease .2s, background .3s ease .2s;
  transition: transform .2s ease, top .3s ease .2s, background .3s ease .2s, -webkit-transform .2s ease;
}

.hamburger::after {
  position: absolute;
  top: 7px;
}

.hamburger::before {
  position: absolute;
  top: -7px;
}

.hamburger-wrap.toggle .hamburger {
  background: rgba(0, 0, 0, 0);
  -webkit-transition: rotate .2s ease;
  transition: rotate .2s ease;
}

.hamburger-wrap.toggle .hamburger::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-wrap.toggle .hamburger::after {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.hamburger-wrap.toggle .hamburger,
.hamburger-wrap.toggle .hamburger::after,
.hamburger-wrap.toggle .hamburger::before {
  -webkit-transition: background .2s ease, top .2s ease, -webkit-transform .3s ease .2s;
  transition: background .2s ease, top .2s ease, -webkit-transform .3s ease .2s;
  transition: background .2s ease, top .2s ease, transform .3s ease .2s;
  transition: background .2s ease, top .2s ease, transform .3s ease .2s, -webkit-transform .3s ease .2s;
}

.main-nav {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: absolute;
  top: 0;
  padding-top: 7vh;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  background: #fff;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  z-index: -1;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.main-nav li {
  height: calc(100% / 6);
}

.main-nav li a {
  color: rgba(0, 0, 0, 0.3);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.main-nav li a:hover, .main-nav li a:active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.main-nav:hover a, .main-nav:active a {
  color: rgba(0, 0, 0, 0.1);
}

.main-nav.toggle {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.full-height {
  height: 100vh;
  width: 100%;
}

.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.main-banner .image {
  -o-object-fit: contain;
     object-fit: contain;
}

.section-heading {
  font-weight: 400;
  position: relative;
  text-align: left;
}

.section-heading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1px;
  background: #000;
}

.section-heading-gallery {
  color: #fff;
}

.section-heading-gallery::before {
  background: #fff;
}

.card {
  border-radius: 0;
  border: none;
  padding: 0;
}

.card-text {
  color: rgba(0, 0, 0, 0.5);
}

.card-title {
  text-transform: uppercase;
  font-weight: 200;
}

.author {
  font-size: .8em;
  padding: 10px 0 0 10px;
  color: rgba(0, 0, 0, 0.3);
}

.show-more-stories {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.show-more-stories:hover, .show-more-stories:active {
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.main-gallery-banner {
  position: relative;
}

.main-gallery-banner .show-more-gallery {
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 5;
}

.main-gallery-banner .show-more-gallery:hover {
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
}

.main-gallery-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.main-gallery a {
  position: relative;
  display: block;
}

.main-gallery a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(122, 105, 72, 0.5);
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-gallery a:hover::before, .main-gallery a:active::before {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .main-gallery-row {
    height: 90%;
  }
  .section-heading-gallery {
    font-size: .7em;
  }
  .show-more-gallery, .show-more-stories {
    font-size: .7em;
    padding: 5px 10px !important;
  }
}

@media only screen and (min-width: 992px) {
  .hamburger-wrap {
    display: none;
  }
  .main-nav {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    display: block;
    background: none;
    -webkit-transform-origin: inherit;
            transform-origin: inherit;
    z-index: 3;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .main-nav li {
    display: inline-block;
  }
  .main-nav li a {
    color: rgba(0, 0, 0, 0.3);
    display: block;
    font-size: .7em;
    margin-left: 15px;
  }
  .main-nav:hover a, .main-nav:active a {
    color: rgba(0, 0, 0, 0.1);
  }
  .section-heading-gallery {
    font-size: 1em;
  }
  .show-more-gallery, .show-more-stories {
    font-size: 1em;
    padding: 10px 20px !important;
  }
}
/*# sourceMappingURL=style.css.map */